{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <h2>Create Playlist</h2>
    <form method="post" action="{{ url_for('create_playlist') }}">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control", id="playlistName") }}
        </div>
        <button type="submit" class="btn btn-primary">Create Playlist</button>
    </form>

    <button id="createPlaylistButton">Create Playlist (Client-Side)</button>
</div>

<script>
    document.getElementById('createPlaylistButton').addEventListener('click', function () {
        // Get the playlist name from the input field
        var playlistName = document.getElementById('playlistName').value;

        fetch('/add_playlist', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                user_id: '{{ current_user.get_id() }}',
                playlist_name: playlistName,
            }),
        })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
    });
</script>
{% endblock %}