{% extends 'base.html' %}

{% block content %}

<body style="background-color: #111010;">
  <h1>Create Playlist</h1>

  <!-- Display User Playlists -->
  <h2>Your Playlists</h2>
  <ul>
    {% for playlist in user_playlists %}
    <li>{{ playlist.name }}</li>
    {% endfor %}
  </ul>

  {% include 'create_playlist.html' %}

  <!-- The login modal -->
  {% include 'login.html' %}

  <!-- The signup modal -->
  {% include 'signup.html' %}

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  var message = {{ messages[0][1]|tojson|safe }};
  alert(message);
  {% endif %}
  {% endwith %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <!-- <script src="playlistMake.js"></script> -->
</body>
{% endblock %}